.title {
  padding: 10px;
  font-family: 'Trebu4het MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #AC3B61;
  margin-top: 10px;
  border-bottom: solid;
  border-top: solid;
  border-color: #25274d;  
  background-color: #BAB2B5;
}